body{
    padding: 25px;
  }
  /* .c1 {
      padding: 2rem;
      background-color: rgba(26, 201, 189, 0.982);
      border-radius: 2cm;
      border-bottom: 2cm;
      color: aqua;
      

  } */
  /* .img1{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px; */
    .img77 {
        /* The image used */
        background-image: url("121.jpeg");

        
      
        min-height: 1080px;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
        /* Needed to position the navbar */
        position: relative;
      }
      
      /* Position the navbar container inside the image */
      .container {
        position: absolute;
        margin: 20px;
        width: auto;
      }
      
      /* The navbar */
      .topnav {
        overflow: hidden;
        background-color: #333;
      }
      
      /* Navbar links */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
  
  /* .nav-link{
      color: black;
  }
  .nav-item{
      padding: auto;
      padding-left: 2%;

  } */